.FooterClass{
    background-color: #6C4AB6;
    color: antiquewhite;
    font-family: 'Inter', sans-serif;
    margin-bottom: -5vh;
    width: 100vw;
    font-weight: 400;
    text-align: center;
}

h4{
    text-align: center;
    font-weight: 200;
}