@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800&display=swap');

body{
    background-color: black
}

.cardGroups{
    display: flex;
    justify-content: space-between;
    margin: 12px 12px 12px 25px;
}